<p>
  <strong>Order For: </strong>
  <% if @order.mtype == 0 %>
  	BreakFast
  <% else %>
  	Lunch
  <% end %>
</p>
  <strong>From Restaurant: </strong>
  <%= @order.restaurant %>
<p>
  <strong>Ordered By: </strong>
  <%= User.find(@order.user_id).name %>
</p>

<%= link_to 'Delete', order_path(@order),method: :delete,data:{confirm:'Are you sure you would like to delete the order?'}%> |
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
